/* css resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* added border-box to body and this is inheriting the body (better practice) */
  box-sizing: inherit;
}

html {
  /* dont make a root font size a set pixel */
  /* set to an % */
  /* 10px = 62.25% for a browser with default 16px */

  /* note: you can not use rems for internet explorer */
  font-size: 62.25%;
  // ^This defines what 1 rem is
}

body {
  box-sizing: border-box;
}